<p id="notice"><%= notice %></p>

<h1>Quote</h1>

<table>
  <thead>
    <tr>
      <th>Sold</th>
      <th>Staff</th>
      <th>Customer</th>
      <th>VIN</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.status_id %></td>
        <td><%= quote.staff.name %></td>
        <td><%= quote.customer.name %></td>
        <td><%= quote.inventory.vin %></td>
        <td><%= quote.inventory.make %></td>
        <td><%= quote.inventory.model %></td>
        <td><%= quote.inventory.price %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
