<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @quote.status_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @quote.staff.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.name %>
</p>

<p>
  <strong>VIN:</strong>
  <%= @quote.inventory.vin %>
</p>

<p>
  <strong>Make:</strong>
  <%= @quote.inventory.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @quote.inventory.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote.inventory.price %>
</p>




<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
