<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

<%= form_tag inventories_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<ul>
  <% @inventories.each do |inventory| %>
      <li>
        <%= link_to inventory.vin, inventory_path(inventory) %>
        | <%= inventory.year %>
        | <%= inventory.make %>
        | <%= inventory.model %>
        | <%= inventory.color %>
        | <%= inventory.price %>
        | <%= link_to "Edit", edit_inventory_path(inventory) %>
        | <%= link_to "Destroy", inventory_path(inventory), :method => :delete %>
      </li>
  <% end %>
</ul>

<%= link_to 'New Inventory', new_inventory_path %>
