<%= form_for(@loan_term) do |f| %>
  <% if @loan_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_term.errors.count, "error") %> prohibited this loan_term from being saved:</h2>

      <ul>
      <% @loan_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :years %><br>
    <%= f.number_field :years %>
  </div>
  <div class="field">
    <%= f.label :months %><br>
    <%= f.number_field :months %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
