<p id="notice"><%= notice %></p>

<h1>Listing Loan Terms</h1>

<table>
  <thead>
    <tr>
      <th>Years</th>
      <th>Months</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_terms.each do |loan_term| %>
      <tr>
        <td><%= loan_term.years %></td>
        <td><%= loan_term.months %></td>
        <td><%= link_to 'Show', loan_term %></td>
        <td><%= link_to 'Edit', edit_loan_term_path(loan_term) %></td>
        <td><%= link_to 'Destroy', loan_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan term', new_loan_term_path %>
