<p id="notice"><%= notice %></p>

<p>
  <strong>Years:</strong>
  <%= @loan_term.years %>
</p>

<p>
  <strong>Months:</strong>
  <%= @loan_term.months %>
</p>

<%= link_to 'Edit', edit_loan_term_path(@loan_term) %> |
<%= link_to 'Back', loan_terms_path %>
