

<h1>Listing Users</h1>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?',
                        method: :delete %></td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to 'New User', new_user_path %>
