<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<%= form_tag customers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= link_to customer.name, customer_path(customer) %>
      | <%= link_to "Edit", edit_customer_path(customer) %>
      | <%= link_to "Destroy", customer_path(customer), :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Customer', new_customer_path %>
