<%= form_for(@fin_cal) do |f| %>
  <% if @fin_cal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fin_cal.errors.count, "error") %> prohibited this fin_cal from being saved:</h2>

      <ul>
      <% @fin_cal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :principle %><br>
    <%= f.number_field :principle %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :loan_term_id %><br>
    <%= f.number_field :loan_term_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
