<p id="notice"><%= notice %></p>

<h1>Financial Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Principle</th>
      <th>Interest</th>
      <th>Loan term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fin_cals.each do |fin_cal| %>
      <tr>
        <td><%= fin_cal.principle %></td>
        <td><%= fin_cal.interest %></td>
        <td><%= fin_cal.loan_term_id %></td>
        <td><%= link_to 'Show', fin_cal %></td>
        <td><%= link_to 'Edit', edit_fin_cal_path(fin_cal) %></td>
        <td><%= link_to 'Destroy', fin_cal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fin cal', new_fin_cal_path %>
