<p id="notice"><%= notice %></p>

<p>
  <strong>Principle:</strong>
  <%= @fin_cal.principle %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @fin_cal.interest %>
</p>

<p>
  <strong>Loan term:</strong>
  <%= @fin_cal.loan_term_id %>
</p>

<%= link_to 'Edit', edit_fin_cal_path(@fin_cal) %> |
<%= link_to 'Back', fin_cals_path %>
