/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #2E2F30;
    color: white;
}


#banner {
    background: #000;
    padding: 10px;

    font: small-caps 40px/40px "Times New Roman", serif;
    color: #ffffff;
    text-align: center;
}
#header {
    background: #000;
    padding: 10px;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #ffffff;
    text-align: center;

}


#main {
    text-align: left;
}

#leftcolumns {
    float: left;
    padding: 1em 2em;
    width: 13em;
    height: 25em;
    background: #000;

}
#rightcolumns {
    float: right;
    padding: 1em 2em;
    width: 13em;
    height: 25em;
    background: #000;

}


#side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #000;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a:link {
    color: #FFFFFF;
    font-size: medium;
}
a:visited {
    color: #00FF00;
}
a:hover {
    color: #FF00FF;
    background-color: #FFF;
}

th {
    text-align: center;
}
