<!DOCTYPE html>
<html>
<head>
  <div id="banner">
    <%= @page_title || "CIS 4338 Dealership Project" %>
  </div>
  <title>CIS 4338 Dealership Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>

  <div id="header">
    <table style="width:100%">
      <td><%= link_to "Login", root_path%></td>
      <td><%= link_to "Customer", customers_path %></td>
      <td><%= link_to "Inventory", inventories_path %></td>
      <td><%= link_to "Quote", quotes_path %></td>
      <td><%= link_to "Calculator", fin_cals_path %></td>
      <td> <%= button_to "Logout", logout_path, method: :delete %></td>
    </table>
  </div>

</head>



<div id="main" >

  <%= yield %>

</div>




</html>
